<div class="registro-container p-4 space-y-4">
    <h2 class="text-xl font-bold text-center text-gray-800">Agregar Evidencia</h2>
  
    <!-- Estado Actual -->
    <div class="bg-gray-100 p-2 rounded-md">
      <label class="block text-gray-600">Estado Actual</label>
      <p class="text-gray-800 font-semibold">{{ estado }}</p>
    </div>
    <div *ngIf="isLoading" class="spinner-overlay">
      <div class="spinner"></div>
    </div>
    <!-- Imagen de Evidencia -->
    <div
      class="w-full h-48 bg-gray-200 flex items-center justify-center rounded-md overflow-hidden"
    >
      <img
        *ngIf="imagePreview"
        [src]="imagePreview"
        alt="Evidencia"
        class="w-full h-full object-contain"
      />
      <p *ngIf="!imagePreview" class="text-gray-500">No hay imagen seleccionada</p>
    </div>

    <!-- Botón para Tomar Foto -->
    <button
      (click)="takePhoto()"
      class="w-full bg-blue-500 text-white py-2 rounded-md shadow-md hover:bg-blue-600 transition"
    >
      Tomar Foto
    </button>
  
    <!-- Descripción -->
    <div>
      <label class="block text-gray-600 mb-1">Descripción</label>
      <textarea
        [(ngModel)]="descripcion"
        class="w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
        rows="3"
        placeholder="Escribe una descripción..."
      ></textarea>
    </div>
  
    <button
    (click)="guardarEvidencia()"
    [disabled]="!isImageValid"
    class="w-full bg-green-500 text-white py-2 rounded-md shadow-md hover:bg-green-600 transition">
    Guardar
  </button>
  </div>
  