<app-header></app-header>

<div class="historial-container">
  <h2 class="heading">Historial de Pedidos</h2>
  <input type="text" class="search-bar" placeholder="Buscar...">
  <table class="pedido-table">
    <thead>
      <tr>
        <th>Ver</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Nro Pedido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>
          <button (click)="verDetalle(venta.idVentas)" class="ver-button">Ver</button>
        </td>
        <td class="estado">{{ venta.detalle_venta?.[0]?.estado || 'Sin Estado' }}</td>
        <td>{{ venta.fechaVenta | date: 'MMM dd, yyyy' }}</td>
        <td>{{ venta.nroComprobante }}</td>
        <td>{{venta.idVentas}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
