<app-header></app-header>

<div class="historial-container">
  <h2 class="font-comfortaa text-center text-gray-600">Historial de Pedidos</h2>

  <div class="filter-actions ">
    <div class="tab-container font-roboto">
      <button class="tab active ">Pedidos</button>
      <button class="tab">Registrar</button>
    </div>
    <input type="text" class="search-bar" placeholder="Buscar...">
  </div>

  <table class="pedido-table font-roboto text-gray-600">
    <thead>
      <tr>
        <th>Ver</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Nro Pedido</th>
      </tr>
    </thead>
    <tbody class="font-roboto">
      <tr *ngFor="let venta of ventas">
        <td>
          <button (click)="verDetalle(venta.idVentas)" class="ver-button">Ver</button>
        </td>
        <td>
          <span [ngClass]="{
            'estado-en-proceso': venta.estadoPedido === 'En Proceso',
            'estado-empaquetado': venta.estadoPedido === 'Empaquetado',
            'estado-pedido-aceptado': venta.estadoPedido === 'Pedido Aceptado',
            'estado-dejado-en-curier': venta.estadoPedido === 'Dejado en Curier',
          }">
            {{ venta.estadoPedido || 'Sin Estado' }}
          </span>    
        </td>
        <td>
          {{ venta.fechaVenta | date: 'MMM dd,' }}
          <br />
          {{ venta.fechaVenta | date: 'yyyy' }}
        </td>
        <td>{{ venta.nroComprobante }}</td>
      </tr>
    </tbody>    
  </table>
</div>
