/* historial.component.css */
.historial-container {
  max-width: 900px;
  margin: auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.pedido-table {
  width: 100%;
  border-collapse: collapse;
}

.pedido-table th,
.pedido-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ver-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.estado {
  font-weight: bold;
}

.estado.entregado {
  color: green;
}

.estado.empaquetado {
  color: orange;
}

.estado.en-proceso {
  color: blue;
}
